In [4]:
import numpy as n

In [21]:
import pandas as p

In [15]:
n.random.seed(101)
mydata = n.random.randint(0,101,(4,3)) # creating 2 arrays
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [34]:
mi = ['Latvia','Paris','Augsburg','Milan']
mc = ['La','Fr','Ge']

In [35]:
df = p.DataFrame(data=mydata,index=mi,columns=mc)
df

          La  Fr  Ge
Latvia    95  11  81
Paris     70  63  87
Augsburg  75   9  77
Milan     40   4  63

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Latvia to Milan
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   La      4 non-null      int64
 1   Fr      4 non-null      int64
 2   Ge      4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes