In [1]:
import numpy as n

In [2]:
import pandas as p

In [4]:
# help(p.Series)

In [9]:
mi = ['usa','italy','mexico'] # arr 
md = [1797,1832,1923] #arr

In [12]:
myser = p.Series(data=md,index=mi)
myser

usa        177
italy     1832
mexico    1923
dtype: int64

In [14]:
type(myser) # checking what we use

pandas.core.series.Series

In [20]:
myser[0]

/var/folders/zb/zdxx2l0s57103ycrdj0qmmkc0000gn/T/ipykernel_77588/2956291752.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myser[0],[0]

(np.int64(177), [0])

In [21]:
myser['usa']

np.int64(177)

In [23]:
ages = {
    'Umar':12,
    'Adi':21,
    'Boru':25,
    'Kqnybek':54
} # creating list

In [24]:
p.Series(ages)

Umar       12
Adi        21
Boru       25
Kqnybek    54
dtype: int64