In [1]:
import numpy as n

In [2]:
import pandas as p

In [4]:
# help(p.Series)

In [9]:
mi = ['usa','italy','mexico'] # arr 
md = [1797,1832,1923] #arr

In [12]:
myser = p.Series(data=md,index=mi)
myser

usa        177
italy     1832
mexico    1923
dtype: int64

In [14]:
type(myser) # checking what we use

pandas.core.series.Series

In [20]:
myser[0]

/var/folders/zb/zdxx2l0s57103ycrdj0qmmkc0000gn/T/ipykernel_77588/2956291752.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myser[0],[0]

(np.int64(177), [0])

In [21]:
myser['usa']

np.int64(177)

In [23]:
ages = {
    'Umar':12,
    'Adi':21,
    'Boru':25,
    'Kqnybek':54
} # creating list

In [24]:
p.Series(ages)

Umar       12
Adi        21
Boru       25
Kqnybek    54
dtype: int64

In [3]:
q1 = {
    'japan': 80,
    'china': 450,
    'india': 200,
    'usa': 250,
}
q2 = {
    'brazil': 100,
    'china': 500,
    'india': 210,
    'usa': 260,
}

In [4]:
sq1 = p.Series(q1)
sq2 = p.Series(q2)

In [5]:
sq1

japan     80
china    450
india    200
usa      250
dtype: int64

In [6]:
sq1['japan']

np.int64(80)

In [14]:
messina = {
    'adilet':'Kyrgyz',
    'adham':'uz'
}
me = p.Series(messina)
me['adilet']

'Kyrgyz'

In [20]:
me.keys() # value of 'me'

Index(['adilet', 'adham'], dtype='object')

In [22]:
sq1 * 4 # math operation

japan     320
china    1800
india     800
usa      1000
dtype: int64

In [23]:
sq1

japan     80
china    450
india    200
usa      250
dtype: int64

In [24]:
sq2

brazil    100
china     500
india     210
usa       260
dtype: int64

In [25]:
sq1 + sq2 # adding two vaiables

brazil      NaN
china     950.0
india     410.0
japan       NaN
usa       510.0
dtype: float64

In [29]:
sq1.add(sq2,fill_value=0) # adding two variables all

brazil    100.0
china     950.0
india     410.0
japan      80.0
usa       510.0
dtype: float64