In [1]:
import numpy as n 
import pandas as p

In [2]:
email = 'kanybekov53@icloud.com'

In [3]:
email.split('@')

['kanybekov53', 'icloud.com']

In [4]:
email.split('5') # delit

['kanybekov', '3@icloud.com']

In [10]:
names = p.Series(['adi','adxam','ali',5])

In [11]:
names

0      adi
1    adxam
2      ali
3        5
dtype: object

In [12]:
names.str.upper() #made all upper

0      ADI
1    ADXAM
2      ALI
3      NaN
dtype: object

In [8]:
names.str.isdigit()

0    False
1    False
2    False
3      NaN
dtype: object

In [9]:
names

0      adi
1    adxam
2      ali
3       56
dtype: object

In [13]:
tech_finace = ['GOOG,APPL,AMZN','JPN,BAC,NY']

In [14]:
len(tech_finace)

2

In [15]:
tikers = p.Series(tech_finace)

In [17]:
tikers

0    GOOG,APPL,AMZN
1        JPN,BAC,NY
dtype: object

In [18]:
tikers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPN, BAC, NY]
dtype: object

In [19]:
t = 'GOOG, APPL, AMZN'

In [20]:
t.split(',')

['GOOG', ' APPL', ' AMZN']

In [22]:
t.split(',')[1]

' APPL'

In [23]:
tikers.str.split(',').str[0] #it will take form all colm the first one

0    GOOG
1     JPN
dtype: object

In [24]:
tikers.str.split(',',expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPN   BAC    NY

In [33]:
asd = p.Series(['adi  ','ali','  us:an  '])

In [34]:
asd

0        adi
1          ali
2      us:an
dtype: object

In [32]:
asd[0]

'adi  '

In [37]:
asd = asd.str.replace(':','m') # replase this ':' to 'm'

In [38]:
asd.str.strip() # return from left and right spaces

0      adi
1      ali
2    usman
dtype: object

In [39]:
asd.str.capitalize() # make it all first letter upper

0        Adi
1          Ali
2      usman
dtype: object

In [42]:
asd.str.strip()[0] # return spases only for first one

'adi'

In [43]:
asd.str.capitalize()[1] # upper first letter only for second

'Ali'

In [45]:
def cle(nn):
    nn = nn.replace(":","")
    nn = nn.strip()
    nn = nn.capitalize()
    return nn

In [46]:
asd.apply(cle) # we call our function

0      Adi
1      Ali
2    Usman
dtype: object